TicketingSystem/TicketingSystem/bin/
TicketingSystem/TicketingSystem/obj/
TicketingSystem/TicketingSystem/bin/Debug/Server/Tickets.mdf
TicketingSystem/TicketingSystem/bin/Debug/Server/Tickets_log.ldf
TicketingSystem/.vs/TicketingSystem/v16/.suo
